@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1 style="margin-top: 10vh !important">@ViewData["Title"]</h1>
<div class="mt-5 centered-div">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>

<style>
    .centered-div {
        color: #fff;
        padding: 20px;
        border-radius: 10px;
        margin-top: 10vh !important;
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
</style>
