@page "/"
@inject Controllers.ServerManager serverManager
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime
@implements IDisposable

<PageTitle>SIT Server Control</PageTitle>

<h1>Server Management Console</h1>

<p>Welcome to the Server Management Dashboard. Control and monitor your server directly from this interface.</p>
<SurveyPrompt Title="Tell us how this tool can improve to help you manage your server!" />

@if (serverManager.errorStartingServer == true)
{
    <Alert Color="AlertColor.Danger">
        <Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon>
        <strong>Configuration file not found</strong>. Please check config.json file! See <a href="https://github.com/mihaicm93/SIT.Controller/tree/main?tab=readme-ov-file#getting-started"> documentation</a>.
    </Alert>
}

<!-- Confirmation Modal for Server Shutdown -->
@if (showShutdownModal)
{
    <div class="modal show d-block" style="background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(2px);" tabindex="-1">
        <div class="modal-dialog" style="text-align:center">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Server Shutdown</h5>
                </div>
                <div class="modal-body">
                    Are you sure you want to stop the server?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CancelShutdown">Cancel</button>
                    <button type="button" class="btn btn-danger" @onclick="StopServer">Stop Server</button>
                </div>
            </div>
        </div>
    </div>
}

<!-- Server Control Buttons -->
<div data-bs-theme="dark">
    <button class="btn @(isServerRunning ? "btn-danger" : "btn-success") btn-lg" @onclick="ToggleServer">
        <span class="oi @(isServerRunning ? "oi-media-stop" : "oi-media-play")" aria-hidden="true"></span>
        @(isServerRunning ? "Stop Server" : "Start Server")
    </button>

    <Button Type="ButtonType.Button" Color="ButtonColor.Secondary" Size="Size.Large" @onclick="ToggleContentAsync">
        <span class="oi oi-terminal" aria-hidden="true"></span>
        Server Console
    </Button>
    <Collapse @ref="collapse1" style="margin-top: 10px;">
        <Card>
            <CardBody style="height: 300px; overflow-y: auto; background-color: #333" id="consoleOutput">
                @foreach (var line in consoleOutput)
                {
                    <p>@line</p>
                }
            </CardBody>
        </Card>
    </Collapse>
</div>

@code {
    private bool isServerRunning;
    private List<string> consoleOutput = new List<string>();
    private System.Threading.Timer updateTimer;
    Collapse collapse1 = default!;
    private bool showShutdownModal = false;

    protected override void OnInitialized()
    {
        serverManager.OnOutputReceived += HandleServerOutput;
        UpdateServerStatus();
        updateTimer = new System.Threading.Timer(_ => InvokeAsync(UpdateServerStatus), null, 2000, 2000);
    }

    private void UpdateServerStatus()
    {
        isServerRunning = serverManager.IsServerRunning();
        InvokeAsync(StateHasChanged);
    }

    private void HandleServerOutput(string output)
    {
        output = Controllers.ServerManager.CleanInput(output);
        consoleOutput.Insert(0, output);
        InvokeAsync(StateHasChanged);
    }

    private void ToggleServer()
    {
        if (isServerRunning)
        {
            // Show the shutdown confirmation modal
            showShutdownModal = true;
        }
        else
        {
            var config = new ConfigurationBuilder()
                .AddJsonFile("config.json")
                .Build();

            var serverPath = config["ServerPath"];
            serverManager.StartServer(serverPath);
            UpdateServerStatus();
        }
    }

    private async Task ToggleContentAsync() => await collapse1.ToggleAsync();

    private void CancelShutdown()
    {
        showShutdownModal = false;
    }

    private void StopServer()
    {
        serverManager.StopServer();
        UpdateServerStatus();
        showShutdownModal = false;
    }

    public void Dispose()
    {
        updateTimer?.Dispose();
        serverManager.OnOutputReceived -= HandleServerOutput;
    }
}
