@page "/LoginDisplay"
@namespace SIT.Controller.Shared
<div id="serverstatus">
    <ServerStatusButton />
</div>

<AuthorizeView>
    <Authorized>
        <div class="authorized-content">
            <a href="Identity/Account/Manage" class="btn btn-outline-secondary manage-account">
                <i class="bi bi-person"></i>
                <span class="user-name">Hello, @context.User.Identity?.Name!</span>
            </a>
            <form method="post" action="Identity/Account/Logout" class="logout-form">
                <button type="submit" class="btn btn-outline-danger logout-button">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Log out</span>
                </button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="not-authorized-content">
            <a href="Identity/Account/Register" class="btn btn-primary register-button">
                <i class="bi bi-person-plus"></i>
                <span>Register</span>
            </a>
            <a href="Identity/Account/Login" class="btn btn-success login-button">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Log in</span>
            </a>
        </div>
    </NotAuthorized>
</AuthorizeView>