
<ServerStatusButton />

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage" class="btn btn-outline-secondary" style="margin-inline:3px">
            <i class="bi bi-person"></i> Hello, @context.User.Identity?.Name!
        </a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="btn btn-outline-danger">
                <i class="bi bi-box-arrow-right"></i> Log out
            </button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register" class="btn btn-primary" >
            <i class="bi bi-person-plus"></i> Register
        </a>
        <a href="Identity/Account/Login" class="btn btn-success">
            <i class="bi bi-box-arrow-in-right"></i> Log in
        </a>
    </NotAuthorized>
</AuthorizeView>

